<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Genre</title>
    <link rel="stylesheet" href="static/select_genre.css">
</head>
<body>

    <h1>Select a Genre</h1>

    <form action="/recommend-by-genre" method="POST" onsubmit="return validateForm()">
        <label for="genre">Choose a Genre:</label>
        <br/><br/><br/>
    
        <select name="genre" id="genre">
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <br/><br/><br/>
        <button type="submit">Get Recommendations</button>
    </form>
    
    <script>
        function validateForm() {
            const selectedGenre = document.getElementById("genre").value;
            if (selectedGenre.toLowerCase().includes("no genres listed")) {
                alert("Please select a valid genre.");
                return false;
            }
            return true;
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <div id="particles-js"></div>
    <script>
        particlesJS('particles-js', {
          particles: {
            number: { value: 60 },
            size: { value: 3 },
            move: { speed: 1.5 },
            line_linked: { enable: true },
            color: { value: "#ffffff" }
          
          },interactivity: {
        detect_on: "canvas",
        events: {
          onhover: {
            enable: true,
            mode: "repulse"
          },
          onclick: {
            enable: false
          },
          resize: true
        },
        modes: {
          repulse: {
            distance: 150,   
            duration: 0.5,
            speed: 2
          }
        }
      },
      retina_detect: true
        });
        </script>
</body>
</html>
